# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch
*.pcm

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled python scripts
*.pyc

# Emacs backup files
*~

datacard*.txt
*.root
*.pdf
*.png
._*
*.txt.*
